includes:
  - ./vendor/nunomaduro/larastan/extension.neon
parameters:
  paths:
    - src
    - tests
  level: max
  checkMissingIterableValueType: true
  checkGenericClassInNonGenericObjectType: false
